/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');
/* End Font */

/* Start Body */
body{
    color: black;
    font-family: 'Crete Round', serif;
    Font-size: 16;
    line-height: 1.5em;
    margin-left: 0;
    padding-bottom: 0;    
}
/* End Body */

/* Start Debug */
.bg-bisque {
    background-color: bisque;
}
.bg-palegreen {
    background-color: palegreen;
}
/* End Debug */

/* Start Tentang */
.container { 
    left: 50%;
    width: 25%;
}
/* End Tentang */

/* Start Sekunder */
.container {
    left: 50%;
    width: 25%;
}
/* End Sekunder */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

/* Start Logo */
.Logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: rgb(0, 174, 255) (68, 135, 218);
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: silver;
    border-radius: 3px;
    box-shadow: 
        0 3px 5px -1px rgb(127, 172, 218),
        0 6px 10px 0 rgb(179, 195, 216),
        0 1px 18px 0 rgb(89, 138, 202);
}
.menu-primer li {
    border-right: 1px solid slategray;
    display: inline-block;
    margin: 0 -4px;
}
.menu-primer a {
    color: black;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 5px 20px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: whitesmoke;
    color: rgb(107, 89, 77);
    text-decoration: none;
}
.menu-primer .active {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Slider */
.{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.body{
    margin: 0 auto;
    width: 70%;
}
.slider{
    overflow: hidden;
}
.slider figure div{
    float: left;
    width: 20%;
}
.slider figure img{
    float: left;
    width: 45%;   
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0;
    animation: 15s ravi infinite;
}
@keyframes ravi{
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: turquoise;
    border: 5px solid rgb(247, 247, 22);
    border-radius: 4px;
    padding: 15px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
    margin-left: 300px;
}
.Jumbotron h2 {
    font-size: 28px;
    padding: 0 20px;
    margin-left: 280px;
}
.jumbotron h3 {
    font-size: 25px;
    padding: 0 20px;
    margin-left: 250px;
}
.jumbotron h4 {
    font-size: 20px;
    padding: 0 20px;
    margin-left: 250px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float: left;
    width: 60%;
}
.main-home-two {
    float: right;
    width: 60%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}
/* End Main */

/* Start Box */
.box-heading {
    background-color:  rgba(155, 205, 218, 0.932);
    border: 1px solid  rgba(185, 192, 214, 0.932);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: none;
}
.box-heading h3 {
    font-size: 15px;
    margin: 0;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}
.box-heading1 h3 {
    font-size: 16px;
    background-color:  rgba(252, 185, 122, 0.932);
    border: 1px solid  rgb(240, 179, 123);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-isi1 {
    background-color: rgb(90, 120, 163);
    border: 1px solid  rgb(120, 137, 160);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 200px;
}

.box-isi2 {
    background-color: rgb(213, 230, 253);
    border: 1px solid  rgb(183, 208, 243);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 120px;
}

.box-isi3 {
    background-color: rgb(250, 220, 212);
    border: 1px solid  rgb(238, 196, 177);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 90px;
    font-size: 16px;
}
/* End Box */

/* Star Komentar */
.komentar {
    border-left: 2px solid rgba(245, 181, 143, 0.945);
    padding-left: 15px;    
}
/* End Komentar */

/* Start Menu Sekunder */
.menu-sekunder {
    background-color: rgb(192, 207, 207);
    border-bottom: 1px solid rgba(148, 92, 76, 0.705);
    border-top: 1px solid  rgba(179, 98, 73, 0.815);
    overflow: auto;
    padding: 10px 20px;
    color: rgb(39, 36, 36);
}
.menu-sekunder h4{
    font-size: 14px;
    margin: 0 auto;
    text-transform: none;
}
.menu-sekunder ul {
    padding: -5px;   
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder li a,
.menu-sekunder p{
    font-size: 16px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 14px;
    text-align: middle;
}
/* End Copyright */